* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  align-items: center;
  justify-items: center;
}
.login-form {
  background-image: linear-gradient(to right, #fa5834, #ac59ff);
  border-radius: 20px;
  padding: 40px;
  min-width: 400px;
}
.page-title {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 36px;
}
.form-checkbox {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: white;
}
.checkbox-input {
  margin-right: 3px;
}
.form-error {
  display: block;
  font-style: italic;
  color: white;
  font-size: 14px;
}
.form-field {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
  outline: none;
  color: #a49797;
  width: 100%;
}
.form-button {
  padding: 5px 15px;
  min-width: 100px;
  border-radius: 15px;
  border-style: none;
  font-size: 24px;
  color: #7d72ff;
}
.form-button:hover {
  background: #e5e5e5;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: space-between;
}
.form-link {
  color: #fff;
  text-decoration: none;
}
