* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  align-items: center;
  justify-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  border: 1px solid #8e8e8e;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px;
  background-color: #fff;
}
.site-name {
  color: #262626;
  margin: 22px 86.5px 12px ;
}
.form-contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 350px;
  row-gap: 5px;
  align-items: center;
}
.form-text {
  margin: 0px 40px 10px;
  color: #8e8e8e;
}
.signin-with-github {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 9px;
  cursor: pointer;
  min-width: 260px  ;
  background-color: #0095F6;
  border-radius: 3px;
  border: none;
  color: #fff;
}
.fa-github {
  margin-right: 8px;
  font-size: 14px;
}
.sign-in-github-text {
  font-size: 14px;
}
.separator {
  display: flex;
  align-items: center;
  margin: 10px 40px 10px;
}
.separator-text {
  margin: 0px 18px;
  font-size: 15px;
  color: #8e8e8e;
}
.lines {
  background-color: #dbdbdb;
  min-width: 100px;
  height: 1px;
}
.inputs {
  min-width: 260px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 9px 0px 7px 8px;
}
.sign-up-button {
  min-width: 270px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #0095f6;
  margin: 8px 40px;
  padding: 5px 15px;
}
.footer {
  text-align: center;
  border: 1px solid #8e8e8e;
  background-color: #fff;
  margin: 0px 0px 10px;
  padding: 10px 0px;
}
.footer-content {
  margin: 10px;
}
.footer-text {
  color: #262626;
}
.footer-redirect {
  text-decoration: none;
  color: #0095f6;
}
.footer-redirect:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .header {
    border:none;
  }
  .footer {
    border: none;
  }
}