* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  align-items: center;
  justify-items: center;
}
.signup-form {
  background-image: linear-gradient(to right, #215FFF, #04D2FF);
  border-radius: 20px;
  padding: 40px;
  min-width: 350px;
}
.page-title {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
}
.form-field {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
  outline: none;
  color: #a49797;
  width: 100%;
}
.form-error {
  font-style: italic;
  color: white;
  font-size: 14px;
}
.form-button {
  display: block;
  margin: 10px auto;
  padding: 8px 15px;
  min-width: 120px;
  border-radius: 15px;
  border-style: none;
  font-size: 24px;
  color: #7d72ff;
}
.form-button:hover {
  background: #e5e5e5;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.form-link {
  color: #fff;
  text-decoration: none;
}
