* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.text-color-blue {
  color: #215fff;
}
.primary-nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  align-items: center;
}
.nav-logo-image {
  display: block;
}
.search-bar {
  display: flex;
  width: 100%;
  border-radius: 20px;
  max-width: 550px;
  border: 1px solid #215fff;
  overflow: hidden;
  margin-right: 120px;
}
.search-input {
  border: none;
  line-height: 1.7;
  flex-grow: 1;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 20px;
  outline: none;
}
.nav-button {
  border: none;
  background-color: white;
  padding: 10px 15px;
}
.nav-button:hover {
  background-color: #add8e6;
}
.dropdown {
  display: flex;
  display: inline-block;
  position: relative;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}
.dropdown .fas:first-of-type {
  font-size: 25px;
}
.dropdown .dropdown-title {
  margin: 0px 5px 0px 10px;
}
.dropdown-main {
  margin: 5px 0px 0px 0px;
  display: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-main {
  display: block;
}
.dropdown-header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #fff;
  display: block;
}
.header-text {
  padding-left: 5px;
}
.dropdown-footer {
  display: block;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #e1e1e1;
}
.footer-login {
  display: flex;
  align-items: center;
  background-color: #215FFF;
  text-decoration: none;
}
.fa-forward {
  border-radius: 0px 2px 20px 0px;
  background-color: #fa5834;
  color: #fff;
  padding: 3px 8px 3px 8px; 
  border: 1px solid #fa5834;
 }
.footer-text {
  border-radius: 0px 0px 0px 0px;
  background-color: #215FFF;
  color: #fff;
  padding-left: 15px;
  margin-right: 20px;
}
.footer-signup {
  margin-left: 30px;
  text-decoration: none;
  color: #215FFF;
} 
.footer-signup:hover {
  text-decoration: underline;
  color: black;
}
.secondary-nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    #ff2e00,
    #9f66fe,
    #215fff,
    #04d2ff
  );
  padding: 15px 50px;
  width: 100%;
  list-style-type: none;
}
.category-item {
  display: inline;
  color: #fff;
  cursor: pointer;
}
.category-link {
  text-decoration: none;
  color: #fff;
}
