* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-color-blue {
  color: #215fff;
}
.primary-nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  align-items: center;
}
.nav-logo-image {
  display: block;
}
.search-bar {
  display: flex;
  width: 100%;
  border-radius: 20px;
  max-width: 550px;
  border: 1px solid #215fff;
  overflow: hidden;
  margin-right: 120px;
}
.search-input {
  border: none;
  line-height: 1.7;
  flex-grow: 1;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 12px;
  border-radius: 20px;
  outline: none;
}
.search-input::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-button {
  border: none;
  background-color: white;
  padding: 10px 15px;
}
.nav-button:hover {
  background-color: #add8e6;
}

.dropdown__item--foot {
  display: flex;
  justify-content: center;
  padding: 8px 12px;
}
.dropdown__item--head {
  display: block;
  text-align: center;
  padding: 10px 11px 5px 11px;
}
.dropdown__main--reposition {
  right: 0px;
  min-width: 200px;
}
.dropdown__item-link--important {
  display: flex;
  align-items: center;
  min-width: 225px;
  background-color: #215fff;
  color: #fff;
}
.dropdown__item-link-text--position {
  padding: none;
}
.secondary-nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    #ff2e00,
    #9f66fe,
    #215fff,
    #04d2ff
  );
  padding: 15px 50px;
  width: 100%;
  list-style-type: none;
}
.category-item {
  display: inline;
  color: #fff;
  cursor: pointer;
}
.category-link {
  text-decoration: none;
  color: #fff;
}
