<%- include('../partials/head-start-partial') %>
    <link rel="stylesheet" href="/css/cart.css" />
    <%- include('../partials/head-end-partial') %>
    <%- include('../partials/body-start-partial') %>
    <!-- <div class="hidden">
        <div><h1 class="title">Your shopping cart is empty</h1></div>
        <a class="home-page-button" href="../main/main.html">Go to home page</a>
      </div> -->
    <main class="main-content">
      <h1 class="main-content__title">Shopping cart</h1>
      <div class="order">
        <div class="order-products-container">
          <% for(let i=1; i<=3; i++) { %>
            <div class="product">
            <img
              src="http://placekitten.com/120/120"
              class="product__img"
              alt=""
            />
            <a href="#" class="product__name"
              >Акумулаторна бормашина 18 V 1.5 Ah Li-Ion Steinhaus, PRO-CD18+,
              30 Nm, 2 степени 400/1400 об/мин, Бърз патронник 13 мм, 13
              аксесоара, Пластмасова кутия</a
            >
            <div class="product__properties">
              <footer>Availability: Available</footer>
              <footer>Warranty: 24 months</footer>
            </div>
            <label>
              <select class="product__quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              Qty.</label
            >
            <div class="product__price">
              <p class="product__price-text">
                <span>286</span><sup class="money-decimal">80</sup> bgn.
              </p>
              <button class="product__remove-button">Remove</button>
            </div>
          </div>
         <% } %>
        </div>
        <div class="order-summary">
          <h2 class="order-summary__title">Information about your order</h2>
          <div class="order-summary__products">
            All products:
            <div class="order-summary__products-price">
              <span>286</span><sup>80</sup><span> bgn.</span>
            </div>
          </div>
          <div class="order-summary__delivery">
            Total:<strong class="order-summary__delivery-price">FREE</strong>
          </div>
          <div class="order-summary__total">
            Total:
            <p class="order-summary__total-price">
              <span>286</span
              ><sup class="order-summary__total-price-decimal">80</sup
              ><span> bgn.</span>
            </p>
          </div>
          <button class="action-button" onclick="location.href='#'">
            <i class="fas fa-forward"></i>
            <span class="action-button__text">Checkout</span>
          </button>
        </div>
      </div>
    </main>
 <%- include('../partials/body-end-partial') %>
