<%- include('../partials/head-start-partial') %>
    <link rel="stylesheet" href="/css/review.css" />
    <%- include('../partials/head-end-partial') %>

    <%- include('../partials/body-start-partial') %>
    <main class="review">
      <div class="review__head">
        <img
          src="http://placekitten.com/75/75"
          alt=""
          class="review__head-img"
        />
        <h1 class="review__head-title">Add review for:</h1>
        <a href="/product" class="review__head-text"
          >Petar robot 65 gdjoaspghbadiogbdhiasvbghadi</a
        >
      </div>
      <form action="/review" method="post">
      <div>
        <h2 class="review__section-title">Rating</h2>
        <div class="review__rating-stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <span>Rate the product</span>
        </div>
      </div>
      <div>
        <label for="textarea" class="review__section-title">Review:</label>
        <textarea
          name="review_description"
          id="textarea"
          rows="10"
          class="review__description-textarea"
          placeholder="Write your opinion about the product"
        ></textarea>
      </div>
      <div>
        <label for="title" class="review__section-title"
          >Title: <small class="review__section-small">(optional)</small></label
        >
        <input
          type="text"
          name="review_title"
          id="title"
          class="review__title-input"
          placeholder="Write a title of your choice"
        />
      </div>
      <div class="review__gallery">
        <h2 class="review__section-title">
          Gallery <small class="review__section-small">(optional)</small>
        </h2>
        <div class="review__gallery-content">
          <label for="gallery" class="review__gallery-file-selector">
            <input
              id="gallery"
              type="file"
              name="images"
              accept=".png, .jpg, .jpeg, .gif"
              multiple
            />
            <i class="fas fa-plus"></i>
          </label>
          <div class="review__gallery-image"><i class="fas fa-times"></i></div>
        </div>
      </div>
      <hr class="review__section-separator" />
      <div class="review__buttons">
        <button type="submit" class="primary-button" onclick="location.href='/'">Add review</button>
        <button class="review__buttons-cancel">Cancel</button>
      </div>
    </form>
    </main>
    <%- include('../partials/body-end-partial') %>
