<body>
    <nav class="nav-bar">
        <div class="primary-nav">
          <a class="nav-logo" href="/"
            ><img
              class="nav-logo-image"
              src="http://placekitten.com/135/35"
              alt="logo"
          /></a>
          <form class="search-bar">
            <input
              class="search-input"
              type="search"
              placeholder="What are you looking for?"
            />
            <button type="button" class="nav-button">
              <i class="fas fa-search text-color-blue"></i>
            </button>
          </form>
          <span class="popup-menu">
            <div class="popup-menu__head">
              <i class="fas fa-user"></i>
              <span class="popup-menu__head-title">My account</span>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="popup-menu__main popup-menu__main--widthchange">
              <div
                class="
                  popup-menu__item
                  popup-menu__item-header
                  popup-menu__item-header--left-aligned
                "
              >
                <i class="fas fa-user-tie"></i>
                <span class="popup-menu__item-text">Sign in to your account!</span>
              </div>
              <div class="popup-menu__item popup-menu__item-footer">
                <div class="width-change">
                <button onclick="location.href='/sign-in'" class="action-button">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="action-button__text">Sign in</span>
                </button>
                </div>
                <a href="/sign-up" class="popup-menu__item-link"
                  >New account</a
                >
              </div>
            </div>
          </span>
          <span class="popup-menu">
            <div class="popup-menu__head">
              <i class="fas fa-shopping-cart"></i>
              <span class="popup-menu__head-title">Shopping cart</span>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="popup-menu__main popup-menu__main--right-aligned">
              <div
                class="
                  popup-menu__item popup-menu__item-header popup-menu__item--compact
                "
              >
                No products added to shopping cart
              </div>
              <div
                class="popup-menu__item popup-menu__item-footer popup-menu__item--plain"
              >
              <button onclick="location.href='/shopping-cart'" class="action-button">
                <i class="fas fa-shopping-cart"></i>
                <span class="action-button__text">View shopping cart</span>
              </button>
              </div>
            </div>
          </span>
        </div>
        <ul class="secondary-nav">
          <li class="category-item">
            <a class="category-link" href="/product-category"
              >Computers</a
            >
          </li>
          <li class="category-item">
            <a class="category-link" href="/product-category"
              >Monitors</a
            >
          </li>
          <li class="category-item">
            <a class="category-link" href="/product-category"
              >Laptops</a
            >
          </li>
          <li class="category-item">
            <a class="category-link" href="/product-category"
              >Tablets</a
            >
          </li>
          <li class="category-item">
            <a class="category-link" href="/product-category"
              >Phones</a
            >
          </li>
          <li class="category-item">
            <a class="category-link" href="/product-category"
              >Gaming accesories</a
            >
          </li>
        </ul>
      </nav>