* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.forgotten-pass {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  align-items: center;
  border: 1px solid #dbdbdb;
}
.forgotten-pass__icon {
  margin: 24px 0px 16px;
  max-width: 100px;
}
.forgotten-pass__title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.forgotten-pass__description {
  display: block;
  text-align: center;
  max-width: 250px;
  color: #8e8e8e;
  font-size: 14px;
  opacity: 0.6;
  margin-top: 5px;
  padding-bottom: 15px;
}
.forgotten-pass__input {
  display: block;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  border-radius: 5px;
  width: 70%;
  padding: 10px 9px;
  font-size: 14px;
  font-family: inherit;
  margin-bottom: 16px;
}
.forgotten-pass__input::placeholder {
  color: #dbdbdb;
}
.forgotten-pass__link {
  width: 70%;
  text-decoration: none;
  text-align: center;
  color: #262626;
}
.forgotten-pass__link:hover {
    text-decoration: underline;
  }
.forgotten-pass__link--primary {
  color: #fff;
  background-color: #215fff;
  border-radius: 5px;
  min-width: 70%;
  padding: 5px 0px;
  margin-bottom:  16px;
}
.forgotten-pass__separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 240px;
  text-align: center;
  margin-bottom: 16px;
}
.forgotten-pass__separator-text {
  font-size: 15px;
  color: #8e8e8e;
}
.forgotten-pass__separator-line {
  background-color: #dbdbdb;
  width: 100px;
  height: 1px;
}
.forgotten-pass__link-footer {
  border-top: 1px solid #dbdbdb;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: #fafafa;
  color: #262626;
  margin-top: 60px;
}
